################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MusicPlayerAPI/.vs/
/MusicPlayerAPI/.vs/ProjectEvaluation
/MusicPlayerAPI/.vs/MusicPlayerAPI/FileContentIndex
/MusicPlayerAPI/.vs/MusicPlayerAPI/v17/.futdcache.v1
/MusicPlayerAPI/.vs/MusicPlayerAPI/DesignTimeBuild/.dtbcache.v2
